<h2 class="page-header">Search Authors</h2>
<!--Form action-->
<form action="/authors" method="GET">
    <label>Name</label>
    <!--Returning the value if the button is hit-->
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<!--executing an JS script-->
<!--authors is send in authors.js-->
<% authors.forEach(author => { %> 
    <div><%= author.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
        <%- include('../partials/deleteForm', {url: `/authors/${author.id}` }) %>
    </div>    
<% }) %> 